/*In dem werden die Bilder der Rezepte die auf der Rubrikseite dargestellt werden, 
wie auch der Button auf den man klicken muss um weiter zu kommen, geordent. Bildet die 
Grundstrucktur davon */
.container {
    margin: 5px;
    border:1px solid #ccc;
    float: left;
    width: 220px;       
}

/*Das wenn man über den Container fährt dieser einen Schwarzen Rahmen bekommt*/
.container:hover {
    border: 1px solid #777;
}

/*Darstellen des Bildes im Container*/
.container img {    
    width: 218px;
    height: 170px;
    object-fit: cover;
    
}

/**/
.responsive {
    padding: 0 6px;
    float: left;
    width: 50%;
}



/*Button mit Namen der Kategorien im Container*/
.button_rubrik {
  background-color: rgba(243,159,24,0.7);
  color: black;
  padding: 15px;
  width: 218px;
  text-align: center;
  font-size: 1.2em;
  border: none;
}

/*Button mit Namen der Rezepte im Container*/
.button_rubrik2 {
  background-color: rgba(243,159,24,0.7);
  color: black;
  padding: 15px;
  width: 218px;
  height: 100px;
  text-align: center;
  font-size: 1.2em;
  border: none;
}

/*Teilt den Disply in spalten*/
.column {
    float: left;
    padding: 10px;    
}

/*Randspallte*/
.column.side {
    width: 10%;
}

/*Mittlere Spalte*/
.column.middle {
    width: 80%;    
}



/*Befehl für die Zeile danach*/
.row:after {
        content: "";
        display: table;
        clear: both;
}

/*für Box in dem die Zutaten und das Bild der Rezepte sich befinden auf der Detail seite*/
.box {
    float: left;
    width: 50%;
    padding: 10px;
}

/*Gestalltung des Bildes */
.box img {
    float: left;
    width: 420px;
    height: auto;
    object-fit: cover;
    
}

/*Box für die Rubriken, gibt die Möglichkeit die Bilder nach Wunsch anzuordnen */
.box2 {
    float: left;
    width: 100%;
    padding: 10px;
}

/*Box in der sich die Box der Rezepte befindet. Also der Befehl Box
Dies wurde so gewählt das die Anleitung immer unterhalb der Zutaten und des Bildes
plaziert werden kann*/
.box3 {
    float: left;
    width: 100%;
    padding: 10px;
}

/**/
* {
  box-sizing: border-box;
}

/**/
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/*Klasse in der die Darstellung der Anleitung auf der Detail seite geregelt wird*/
.anleitung {
    position: absolut;
    left: 10%;
    top: 100%;
    
}

/*Darstellung der Anleitung, Schrifftgrösse und abstand*/
.anleitung p {
    font-size: 1.2em;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
}    

/*Navigationsleiste*/
.topnav {
    overflow: hidden;
    background-color: #C4C4CC;   
}

/*Schrifft in der Navigationsleiste auf der Detailseite*/
.topnav p{
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 5px 14px;
    text-decoration: none;
    margin-left: 10%;
    
}

/*Schrifft in der Navigationsleiste auf der Homeseite*/
.topnav p1{
    float: left;
    display: block;
    color: black;
    text-align: center;    
    text-decoration: none;
    padding: 20px 120px;
    margin-left: 20%;
    font-size: 1.2em;
    
}

/*Das sich die Farbe ändert wen man über die Felder auf der Navigationsleiste der Homeseite fährt*/
.topnav p1:hover {
    background-color: #51565C;
    color: #fffff;
}    

/*Regelt die gesammte Gestalltung der Webseite*/
body {
    background: rgba(240,232,205,0.3);
    background-attachment: fixed;
    font-family: Helvetica, Verdana, sans-serif;
    margin:0;
   
}

/**/
head {
    font-family: Helvetica, Verdana, sans-serif;
    background-color: rgba(243,159,24,1);
    text-align: center;
    color: black;
    font-size: 2em;
    padding: 20px;
}

/*Titelzeile mit Orangem hintergrund*/
.header {
    background-color: rgba(243,159,24,0.7);
    text-align: center;
    color: black;
    font-size: 1.5em;
    padding: 20px;
    font-family: Helvetica, Verdana, sans-serif;
}    

/*Titel der Seiten im Orangen Blaken*/
h1 {   
    text-align: center;
    color: black;
    font-size: 2em;    
}

/*Titel Anleitung*/
b {   
    font-size: 1.50em;
    font-weight: bold;
    padding-right: 10px;
    padding-left: 20px;
}

/*Titel Zutaten*/
b2 {   
    font-size: 1.50em;
    font-weight: bold;
    padding-right: 10px;
    
}

/*Gestalltung von Willkommen, Kategorien, Rezepte als Titel*/
#titelhome {
    
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 000px;
}    

/*Normaler Text, Auf Homeseite und Rezepte Hinzufügen*/
p {
    font-size: 1.2em;
    text-decoration: none;
    
}

/*Text auf der Homeseite*/
.text {
    text-decoration: none;
    text-align: center;
    font-size: 1.2em;
}

/*Titel auf der Detailseite (Beschreibung)*/
#titeldetail {
    text-align: center;
    font-size: 1.75em;
    font-weight: bold;
    padding-right: 30px;
    padding-top: 30px;
} 

/*
#startseite {
    margin-left: 100px;
    margin-right: 100px;
    font-size: 1.25em;
    text-decoration: none; 
}
*/
/**/
.button_home {
    font-size: 22px;
    #box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,19);
    width: 250px;
}

/*Textfeld auf der Seite Rezepte hinzufügen in dem man viel 
Text schriben kann und dessen Grösse sich anpassen lässt*/
textarea {
    width: 50%;
    height:200px;
}

/**/
.button_suche {
    font-size: 22px;
}

/*Button für zurück zur startseite*/
.button_zzS {
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
}

/*Button für zurück zu den Rubriken*/
.button_zzR {
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
    font-size: 20px;
}

/**/
.button_rezept_bestätigung {
    font-size: 25;
}

/**/
.form_rezept_hinzufügen {
    margin-left: 30px;
    margin-top: 50px;
    font-size: 20px;
}

/*Bei rezepte hinzufügen für die Auswahl der Rubriken und Schwierigkeitsgrad*/
.dropdown {
    font-size: 22px;
    margin-bottom: 30px;
}

/**/
.button_rezept_hinzufügen{
    font-size: 22px;
}

/*Liste der Gefunden Rezept zur Suchanfrage*/
.liste_suche {
    font-size: 22px;
}