.container {
    margin: 5px;
    border:1px solid #ccc;
    float: left;
    width: 220px;       
}

.container:hover {
    border: 1px solid #777;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 50%;
}

.container img {    
    width: 220px;
    height: 170px;
    object-fit: cover;
    
}

.button_rubrik {
  background-color: #4CAF50;
  color: white;
  padding: 15px;
  width: 220px;
  text-align: center;
  font-size: 1.2em;
  border: none;
}

.button_rubrik2 {
  background-color: #4CAF50;
  color: white;
  padding: 15px;
  width: 220px;
  height: 100px;
  text-align: center;
  font-size: 1.2em;
  border: none;
}

.column {
    float: left;
    padding: 10px;    
}

.column.side {
    width: 10%;
}

.column.middle {
    width: 80%;    
}

* {
  box-sizing: border-box;
}

.row:after {
        content: "";
        display: table;
        clear: both;
}

.box {
    float: left;
    width: 50%;
    padding: 10px;
}

.box img {
    float: left;
    width: 420px;
    height: auto;
    object-fit: cover;
    
}

.box {
    float: left;
    width: 50%;
    padding: 10px;
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.anleitung p {
    font-size: 1.2em;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
}    
    
.rubriken {
    list-style-position: inside;    
    font-size: 1.25em;
    text-decoration: none;
}

.rubriken li{
    line-height: 1.25;
    list-style-position: inside;
    margin-left: 200px;
    font-size: 1.2em;
    text-decoration: none;
}

.rezepte {    
    list-style-position: inside;    
    font-size: 1.2em;
    text-decoration: none;
    padding-top: 30px;
}

.rezepte li {
    list-style-position: inside;
    margin-left: 550px;
    font-size: 1.2em;
    text-decoration: none;
}

.topnav {
    overflow: hidden;
    background-color: #C4C4CC;   
}

.topnav p{
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 5px 14px;
    text-decoration: none;
    margin-left: 200;
    
}

.topnav p1{
    float: left;
    display: block;
    color: black;
    text-align: center;    
    text-decoration: none;
    padding: 20px 120px;
    margin-left: 20%;
    
}

.topnav p1:hover {
    background-color: #51565C;
    color: #fffff;
}    

body {
    background: rgba(240,232,205,0.3);
    background-attachment: fixed;
    font-family: Helvetica, Verdana, sans-serif;
    margin:0;
   
}

head {
    font-family: Helvetica, Verdana, sans-serif;
    background-color: rgba(243,159,24,1);
    text-align: center;
    color: black;
    font-size: 2em;
    padding: 20px;
}

.header {
    background-color: rgba(243,159,24,0.7);
    text-align: center;
    color: black;
    font-size: 1.5em;
    padding: 20px;
    font-family: Helvetica, Verdana, sans-serif;
}    



h1 {   
    text-align: center;
    color: black;
    font-size: 2em;    
}

b {   
    font-size: 1.50em;
    font-weight: bold;
    padding-right: 10px;
    padding-left: 10px;
}

b2 {   
    font-size: 1.50em;
    font-weight: bold;
    padding-right: 10px;
    
}

#titelhome {
    
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 000px;
}    

p {
    font-size: 1.2em;
    text-decoration: none;
}

#titeldetail {
    text-align: center;
    font-size: 1.75em;
    font-weight: bold;
    padding-right: 30px;
    padding-top: 30px;
} 


#startseite {
    margin-left: 100px;
    margin-right: 100px;
    font-size: 1.25em;
    text-decoration: none; 
}

.button_home {
    font-size: 22px;
    #box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,19);
    width: 250px;
}

.suchfeld {
    margin-left: 30px;
    margin-top: 30px;
    font-size: 22px;
}

.button_suche {
    font-size: 22px;
}

.button_zzS {
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 22px;
}

.button_zzR {
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
    font-size: 20px;
}


    


.button_rezept_bestätigung {
    font-size: 25;
}

.form_rezept_hinzufügen {
    margin-left: 30px;
    margin-top: 30px;
    font-size: 22px;
}

.dropdown {
    font-size: 22px;
    margin-bottom: 30px;
}

.button_rezept_hinzufügen{
    font-size: 22px;
}

.liste_suche {
    font-size: 22px;
}